#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Root password
rootpw --iscrypted $1$CYRMBPKy$qQfE1NCZfZGzvtWk6rxlv.
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# System keyboard
keyboard de
# System language
lang en_US
# SELinux configuration
selinux --enforcing
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  Europe/Berlin
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Enable automatic partitioning
autopart
# Partition clearing information
clearpart --all  

%packages
@backup-client
@base
@cifs-file-server
@compat-libraries
@console-internet
@directory-client
@directory-server
@ftp-server
@ha
@ha-management
@hardware-monitoring
@identity-management-server
@infiniband
@large-systems
@mainframe-access
@network-file-system-client
@network-server
@network-tools
@nfs-file-server
@perl-runtime
@ruby-runtime
@scalable-file-systems
@security-tools
@server-platform
@smart-card
@storage-client-fcoe
@storage-client-iscsi
@storage-client-multipath
@storage-server
@system-admin-tools
@system-management
@system-management-messaging-client
@system-management-wbem
samba

%end